<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.company.app.infra.excode.ExCodeMapper">

	<resultMap type="com.company.app.infra.excode.ExCode" id="resultMapObj"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			seq,
			name,
			codeGroup_seq,
			delNy
		FROM
			code
		WHERE 1=1
			<if test="shkey != null and !shkey.equals('')">AND name like CONCAT ('%',#{shkey},'%')</if>
			<if test="shOption != null and !shOption.equals('')">AND delNy = #{shOption}</if>
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			seq,
			name,
			codeGroup_seq,
			delNy
		FROM
			code
		WHERE
			seq = #{seq}
	</select>
	
	<update id="update">
		UPDATE
			code
		SET
			name = #{name},
			codeGroup_seq = #{codeGroup_seq},
			delNy = #{delNy}
		WHERE
			seq = #{seq}
	</update>
	
	<delete id="delete">
		DELETE FROM
			code
		WHERE
			seq = #{seq}
	</delete>
	
	<insert id="insert">
		INSERT INTO code (
			name,
			codeGroup_seq,
			delNy
		) values (
			#{name},
			#{codeGroup_seq},
			0
		)
	</insert>
	
	<update id="updateDel">
		UPDATE
			code
		SET
			delNy = 1
		WHERE
			seq=#{seq}
	
	</update>
	
	<select id="selectListJoin" resultMap="resultMapObj">
		SELECT
			seq,
			name,
			codeGroup_seq,
			(SELECT
				b.name
			FROM codeGroup b 
			WHERE b.seq=code.codeGroup_seq
			) as groupname,
			delNy
		FROM
			code
		WHERE 1=1
			<if test="codeGroup_seq != null and !codeGroup_seq.equals('')">AND codeGroup_seq = #{codeGroup_seq}</if>
			<if test="shkey != null and !shkey.equals('')">AND name like CONCAT ('%',#{shkey},'%')</if>
			<if test="shOption != null and !shOption.equals('')">AND delNy = #{shOption}</if>
	
	</select>
	
	<select id="selectOneJoin" resultMap="resultMapObj">
		SELECT
			seq,
			name,
			codeGroup_seq,
			(SELECT
				b.seq
			FROM codeGroup b 
			WHERE b.seq=code.codeGroup_seq
			) as groupseq,
			(SELECT
				b.name
			FROM codeGroup b 
			WHERE b.seq=code.codeGroup_seq
			) as groupname,
			delNy
		FROM
			code
		WHERE 1=1
			and seq = #{seq}
	</select>

	

</mapper>

