<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.gogogo.infra.codegroup.CodeGroupMapper">

<resultMap type="com.gogogo.infra.codegroup.CodeGroup" id="resultMapObj"></resultMap>
<select id="selectList" resultMap="resultMapObj">
	SELECT
		ifcgSeq,
		ifcgName,
		ifcgDelny
	FROM
		infraCodeGroup

</select>
<insert id="insert">
	INSERT INTO infraCodeGroup (
		ifcgName,
		ifcgDelny
	) values (
		#{ifcgName},
		#{ifcgDelny}
	)

</insert>
<update id="update">
	UPDATE
		infraCodeGroup
	SET
		ifcgName = #{ifcgName}
	WHERE
		ifcgSeq = #{ifcgSeq}
</update>

<delete id="delete">
	DELETE FROM
		infraCodeGroup
	WHERE
		ifcgSeq = #{ifcgSeq}
		
</delete>
</mapper>